<h1>感谢您注册 🦋Neverland 服务帐户</h1>
<p>尊敬的 <b>#{user.email}</b>,</p>
<p>您刚刚申请注册了 <a href="www.illufly.com">Neverland平台</a>专属的<b>AI服务</b>帐户，点击下面的确认链接即可正式生效：</p>
<p><a href="#{url}">#{url}</a></p>
<p>如果这不是您申请创建的，就请忽略此邮件。</p>
<p>祝您使用愉快！</p>

=======================

<h1>您正在重置 🦋Neverland 服务帐户密码</h1>
<p>尊敬的 <b>#{user.email}</b>, </p>
<p>您正在修改帐户的密码，点击下面的确认链接即可重置：</p>
<p><a href="#{url}">#{url}</a></p>
<p>如果这不是您的请求，请忽略此邮件。</p>
<p>祝您使用愉快！</p>

=======================

<h1>您正在修改 🦋Neverland 服务帐户密码</h1>
<p>尊敬的 <b>#{user.email}</b>, </p>
<p>您正在修改帐户的密码，点击下面的确认链接即可正式修改：</p>
<p><a href="#{url}">#{url}</a></p>
<p>如果这不是您的请求，请忽略此邮件。</p>
<p>祝您使用愉快！</p>